<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissLogin()">Cerrar</ion-button>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">

    <div *ngIf="errors !== undefined" style="color: #cc1f1a;padding-left: 1rem;padding-right: 1rem;padding-top: .75rem;padding-bottom: .75rem;border-width: 1px;border-radius: .25rem;border-color: #ef5753;background-color: #fcebea;line-height: 1.5;font-size: 12px;border: 1px solid #ef5753">
      <ul>
          <li>
             {{ errors.email[0] }}
          </li>
          <li>
             {{ errors.password[0] }}
          </li>
        </ul>
    </div>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input ngModel type="email" name="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>


    <ion-button style="margin-top: 2em" type="submit" expand="full" color="primary">Login</ion-button>
  </form>
</ion-content>
